* {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.header {
    height: 669px;
    background-image: url(../images/donate00.png);
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    padding-top: 174px;
}

.header-title {
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    padding: 0 550px;
    text-align: center;
}

.header-description {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 600px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn-primary {
    border-radius: 5px;
    background: #FF5959;
    padding: 16px 12px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border: 0;
}

/* Donate Today section style */
.section {
    text-align: center;
    margin-top: 130px;
}

.section-title {
    color: #121212;
    text-align: center;
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-description {
    color: #707070;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 600px;
    margin-bottom: 50px;
}

.donate-today-containt {
    display: flex;
    gap: 22px;
    text-align: center;
    padding-left: 600px;
    padding-right: 600px;
}

.donate-today-containt-tk {
    /* width: 135px;
    height: 123px; */
    border-radius: 5px;
    background: #FAFAFA;
    text-align: center;
    color: #707070;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    padding: 44px 24px;
    align-items: center;
}

.donate-today-containt-red {
    border-radius: 5px;
    border: 2px solid #FF5959;
    background: #FEE;
    padding: 44px 24px;
    align-items: center;
    color: #FF5959;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;

}

.other-amount {
    color: #B3B3B3;
    font-family: Poppins;
    font-size: 18px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.btn-donate {
    border-radius: 5px;
    background: #FF5959;
    padding: 16px 12px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    border: 0;
}

/* Our Donate Plan */
.our-donate-plan {
    display: flex;
    gap: 24px;
    margin-left: 157px;
    margin-right: 157px;
    text-align: left;
}

.donate-title {
    color: #121212;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    margin-top: 32px;
}

.donate-description {
    color: #707070;
    font-family: Poppins;
    font-size: 16px;
    margin-top: 20px;
}

.our-donate-plan-food {
    border-radius: 5px;
    background: rgba(79, 157, 166, 0.10);
    padding: 54px 24px;
}

.our-donate-plan-family {
    border-radius: 5px;
    background: rgba(255, 89, 89, 0.10);
    padding: 54px 24px;
}

.our-donate-plan-child {
    padding: 54px 24px;
    border-radius: 5px;
    background: #FFF4D6;
}

/* Extra part */
.first-part {
    display: flex;
    margin-left: 157px;
    margin-right: 231px;
    text-align: left;
    margin-top: 100px;
}

.first-part-title {
    color: #121212;
    font-family: Inter;
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
    margin-top: 60px;
    /* padding-right: 300px; */
}

.first-part-description {
    color: #707070;
    font-family: Poppins;
    font-size: 18px;
    padding-right: 170px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.second-part {
    display: flex;
    margin-left: 157px;
    margin-right: 231px;
    text-align: left;
    margin-top: 100px;
}

.second-part-title {
    color: #121212;
    font-family: Inter;
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
    margin-top: 60px;
    margin-left: 170px;
}

.second-part-description {
    color: #707070;
    font-family: Poppins;
    font-size: 18px;
    margin-left: 170px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn-primary-second {
    border-radius: 5px;
    background: #FF5959;
    padding: 16px 12px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    margin-left: 170px;
}

.three-part {
    display: flex;
    margin-left: 157px;
    margin-right: 231px;
    text-align: left;
    margin-top: 100px;
}

.three-part-title {
    color: #121212;
    font-family: Inter;
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
    margin-top: 60px;
    margin-right: 170px;
}

.three-part-description {
    color: #707070;
    font-family: Poppins;
    font-size: 18px;
    margin-right: 170px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn-primary-three {
    border-radius: 5px;
    background: #FF5959;
    padding: 16px 12px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    margin-right: 170px;
}

.img {
    width: 700px;
}

/* Get My Updates */
.news-form {
    display: flex;
    text-align: center;
    background: #FFF4D6;
    padding-top: 100px;
    padding-bottom: 100px;

}

.form {
    padding: 0 100px 0 10px;
    border: 0;
    border-radius: 5px 0px 0px 5px;
    background: #D9D9D9;
    margin-left: 805px;
}

/* footer section  */
.footer {
    text-align: center;
    background: #0B0D17;
    height: 177px;
    margin-top: 130px;
}

.footer-title {
    color: #FF5959;
    font-family: Lobster;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.5px;
    padding-top: 43px;
}

.footer-description {
    color: var(--Text-Gray-300, #D9DBE1);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}