* {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.header {
    height: 669px;
    background-image: url(../images/donate00.png);
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    padding-top: 174px;
}

.header-title {
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    padding: 0 550px;
    text-align: center;
}

.header-description {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 600px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn-primary {
    border-radius: 5px;
    background: #FF5959;
    padding: 16px 12px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border: 0;
}

/* Donate Today section style */
.section {
    text-align: center;
    margin-top: 130px;
}

.section-title {
    color: #121212;
    text-align: center;
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-description {
    color: #707070;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 600px;
    margin-bottom: 50px;
}

.donate-today-containt {
    display: flex;
    gap: 22px;
    text-align: center;
    padding-left: 600px;
    padding-right: 600px;
}

.donate-today-containt-tk {
    /* width: 135px;
    height: 123px; */
    border-radius: 5px;
    background: #FAFAFA;
    text-align: center;
    color: #707070;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    padding: 44px 24px;
    align-items: center;
}

.donate-today-containt-red {
    border-radius: 5px;
    border: 2px solid #FF5959;
    background: #FEE;
    padding: 44px 24px;
    align-items: center;
    color: #FF5959;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;

}